<div class="row">
    <h2>Tasks</h2>
</div>
<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <b>Name:</b>    MergeSort
                    </div>
                    <div class="col">
                        <b>Status:</b>Running
                    </div>
                    <div class="col">
                        <a href="">View</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <b>Name:</b>    MergeSort
                    </div>
                    <div class="col">
                        <b>Status:</b>Running
                    </div>
                    <div class="col">
                        <a href="">View</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
