<div class="row" *ngIf="tasks.length">
    <div class="col">
        <h5 *ngIf="title">{{ title }}</h5>
        <table class="table table-sm">
            <tbody>
                <tr *ngFor="let task of tasks">
                    <th scope="row">{{ task.name }}</th>
                    <td>{{ task.n_experims }} ops</td>
                    <td *ngIf="task.status == 'FINISHED'">
                        PI: {{ 4 * (task.n_success_experims / task.n_experims) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
