<div id="newTask" style="margin-top: 20px;">
    <div class="row">
        <h2>Upload new task</h2>
    </div>
    <div class="row">
        <div class="col-9">
            <form method="post" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="taskName">Task Name</label>
                    <input type="text" class="form-control" id="taskName" aria-describedby="taskName" placeholder="Enter name" formControlName="name">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="pi" formControlName="type">
                    <label class="form-check-label" for="inlineRadio1">Pi Calculation</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="sort" formControlName="type">
                    <label class="form-check-label" for="inlineRadio2">MergeSort</label>
                </div>
                <br />
                <div class="form-group" *ngIf="type == 'pi'">
                    <label for="numExperiments">Number of Experiments</label>
                    <input type="number" class="form-control" id="numExperiments" aria-describedby="numExperiments" placeholder="Enter a number" formControlName="num_experiments">
                </div>
                <div id="sortFile-group" *ngIf="type == 'sort'" class="form-group">
                    <label for="sortFile">File to sort</label>
                    <input #file type="file" class="form-control-file" id="sortFile" (change)="fileSelected(file.files)">
                </div>
                <button type="submit" class="btn btn-primary">Submit Task</button>
                {{ form.value.type }}
            </form>
        </div>
        <div class="col-3">
            <h4>List of nodes</h4>
            <ul>
                <li *ngFor="let node of nodes">{{ node.url }}: {{ node.status }}</li>
            </ul>
        </div>
    </div>
</div>
<br />
<div id="tasks" style="margin-top: 25px;">
    <div class="row">
        <h2>Tasks</h2>
    </div>
    <app-tasks-list [tasks]="runningTasks"></app-tasks-list>
    <app-tasks-list [tasks]="waitingTasks"></app-tasks-list>
    <app-tasks-list [tasks]="completedTasks"></app-tasks-list>
</div>
